* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #ff4d00;
    border-radius: 5px;
}

html::-webkit-scrollbar {
    width: 8px;
}

/* Navbar Start */
#navbar {
    background: rgba(255, 255, 255, 0.8);
    padding: 0px 5% 0px;
    position: fixed;
    width: 100%;
}

.navbar-nav {
    margin-left: auto;
}

#logo img {
    width: 150px;
    margin-top: 3px;
}

.nav-item .nav-link {
    color: black;
    margin: 10px 10px;
    font-size: 22px;
    font-weight: 550;
    transition: 0.3s;
}

.nav-item .nav-link:hover {
    color: #ff4d00;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.7);
}

.dropdown-item {
    color: black;
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 550;
    transition: 0.3s;
}

.dropdown-item:hover {
    color: #ff4d00;
}

/* Navbar End */


.container-fluid {
    height: 800px;
    width: 100%;
    background-image: url("./assets/images/bg-top.jpg");
}